/*an extremely basic, skeletal wordpress theme. done mostly as a learning exercise*/

body{
	text-align: center;
}

#wrapper{

	display: block;
	border: 1px solid #a2a2a2;
	width: 90%;
	margin: 0px auto;
}

#header{

	border: 2px solid #a2a2a2;

}

#content {

	width: 75%;
	border: 2px solid #a2a2a2;
	float: left;
}

#sidebar{

	width: 23%;
	border: 2px solid #a2a2a2;
	float: right;
}

#delimiter{

	clear: both;

}

#footer{

	border: 2px solid #a2a2a2;

}

.title{

	font-size: 11pt;
	font-family: verdana;
	font-weight: bold;
}
